<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{# This includes the head.njk component we just configured. #}
	{% include "components/head.njk" %}

	{# This body tag is now upgraded. It includes the "section" class (e.g., "home") #}
	{# AND the "pageClass" (e.g., "bg-red-nebula") if you've defined one in a page's front matter. #}
	{# This is the key that allows for different backgrounds on different pages. #}
	<body class="{% if section %}{{ section }}{% endif %} {% if pageClass %}{{ pageClass }}{% endif %}">

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ content | safe }}
		</main>

		{% include "components/footer.njk" %}

{% if section == "home" %}
  <script src="/js/solar-system.js"></script>
{% endif %}


	</body>

</html>
