---
layout: layouts/base.njk
---
<div class="demo-container">
  <h1 class="demo-title">{{ title }}</h1>
  <div class="iframe-wrapper">
    <iframe src="{{ scriptUrl }}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
